<div id="loader">
    <!-- <h1>0%</h1>
    <h3>Loading</h3> -->

    <div class="container">
        <div class="content">
          <div class="content__container">
            <p class="content__container__text">
              Hello
            </p>
          
            <ul class="content__container__list">
              <!-- <li class="content__container__list__item">world !</li> -->
              <li class="content__container__list__item">Coder</li> 
             
              <!-- <li class="content__container__list__item">Sahil</li> -->
            </ul>
          </div>
        </div>
      </div>
   <h6>Loading...</h6>

</div>
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
