<nav class="navbar   navbar-expand-lg "  >
    <div class="container-fluid " style="background-color: black;  ">
      <a class="navbar-brand text-decoration-none " href="#">
        <h1 style=" font-family: 'Mooli', sans-serif; color: white;" class="sk-1" >Shubham Rajput</h1>
      </a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse  navbar-collapse justify-content-end align-items-center" id="navbarNavDropdown">
        <ul class="navbar-nav gap-4 text-center" style="font-family: 'Mooli', sans-serif;">
       
          <li class="nav-item " >
            <a class="nav-link" aria-current="page" routerLink="/" style="color: white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" style="color: white;">Contact</a>
          </li>
          <li class="nav-item border rounded-pill bg-dark text-center px-3 ">
            <a class="nav-link text-light " href="assets/resume/Shubham.pdf" download>Resume</a>
          </li>
       
  
        </ul>
      </div>
    </div>
  </nav>