<div class="section-1">

    <div class="h-video">
        <video src="assets/start-video.mp4" preload="auto" autoplay="" loop="" [muted]="'muted'" type="video/mp4"
            class="w-100"></video>
    </div>
    <div class="headings">
        <h3>Full Stack MERN Developer</h3>
        <h1>Mr. Shubham Rajput</h1>
    </div>

</div>

<div class="section-2  ">

    <!-- <h1>About Me</h1> -->
    <div class="about-me ">
        <div class="about-left">
            <h1>Hello, I'm Shubham Rajput, a Full Stack MERN Developer With 3+ years of hands-on experience.</h1>
            <p>with a passion for crafting innovative and efficient software solutions. With a strong foundation in JavaScript
                and a deep understanding of front-end and back-end technologies, I thrive in creating seamless,
                user-centric web applications.</p>
            <a href="/contact"><button type="button" class="btn btn-dark  rounded-pill px-3">Contact
                    Me</button></a>
            <a  style="margin-left: 10px;" href="assets/resume/Shubham.pdf" download><button type="button" class="btn btn-dark  rounded-pill px-3">Resume</button></a>


        </div>

        <div class="about-right img-fluid">
            <img src="assets/shubham.png" alt="shubham profile image" class="rounded-circle ">
        </div>

    </div>

</div>


<div class="skills">


    <div id="featured-project-part1 follow-us-part1">

        <div class="htitle ">
            <h1><span>--</span> My<span>--</span> Skills <span>--</span></h1>
            <h1><span>--</span> My<span>--</span> Skills <span>--</span></h1>
            <h1><span>--</span> My<span>--</span> Skills <span>--</span></h1>
            <h1><span>--</span> My<span>--</span> Skills <span>--</span></h1>
            <h1><span>--</span> My<span>--</span> Skills <span>--</span></h1>
            <h1><span>--</span> My<span>--</span> Skills <span>--</span></h1>
        </div>

    </div>


    <div class="skills-part2">


        <div class="right">

            <div class="containers-1">
                <div class="skill-box">
                    <span class="title">React JS</span>

                    <div class="skill-bar">
                        <span class="skill-per java">

                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Node JS</span>

                    <div class="skill-bar">
                        <span class="skill-per java">

                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">JavaScript</span>

                    <div class="skill-bar">
                        <span class="skill-per java">

                        </span>
                    </div>
                </div>

                <div class="skill-box">
                    <span class="title">TypeScript</span>

                    <div class="skill-bar">
                        <span class="skill-per typescript">

                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Java</span>

                    <div class="skill-bar">
                        <span class="skill-per java">

                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Python</span>

                    <div class="skill-bar">
                        <span class="skill-per python">

                        </span>
                    </div>
                </div>

                <div class="skill-box">
                    <span class="title">C Programming Language</span>

                    <div class="skill-bar">
                        <span class="skill-per c">

                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Html</span>

                    <div class="skill-bar">
                        <span class="skill-per html">

                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">CSS</span>

                    <div class="skill-bar">
                        <span class="skill-per css">

                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Material Ui</span>

                    <div class="skill-bar">
                        <span class="skill-per material">

                        </span>
                    </div>
                </div>

                <div class="skill-box">
                    <span class="title">Tailwind CSS</span>

                    <div class="skill-bar">
                        <span class="skill-per tailwind">

                        </span>
                    </div>
                </div>

                <div class="skill-box">
                    <span class="title">Bootstrap</span>

                    <div class="skill-bar">
                        <span class="skill-per bootstrap">

                        </span>
                    </div>
                </div>


                <div class="skill-box">
                    <span class="title">Spring Boot</span>

                    <div class="skill-bar">
                        <span class="skill-per spring-boot">

                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">MySQL</span>

                    <div class="skill-bar">
                        <span class="skill-per mysql">

                        </span>
                    </div>
                </div>


               
               

               
            </div>


        </div>

    </div>


</div>



<div class="section-3">


    <div id="featured-project follow-us">
        <div id="featured-project-part1 follow-us-part1">

            <div class="htitle ">
                <h1><span>--</span> Featured <span>--</span> Project <span>--</span></h1>
                <h1><span>--</span> Featured<span>--</span> Project <span>--</span></h1>
                <h1><span>--</span> Featured<span>--</span> Project <span>--</span></h1>
                <h1><span>--</span> Featured<span>--</span> Project <span>--</span></h1>
                <h1><span>--</span> Featured<span>--</span> Project <span>--</span></h1>
                <h1><span>--</span> Featured<span>--</span> Project <span>--</span></h1>
            </div>

        </div>


        <div class="featured-project-part2">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Html / Css</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Web Application</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">Python</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="project-card">
                        <div class="card" style="width: 18rem;" *ngFor="let i of html_css">
                            <img src="{{i.imgUrl}}" class="card-img-top" alt="...">
                            <div class="card-body bg-white text-dark">
                                <h5 class="card-title">{{i.name}}</h5>
                                <p class="card-text">{{i.description}}</p>
                                <a href="{{i.projectUrl}}" class="btn btn-dark rounded-circle"><i class="ri-github-fill"
                                        style="font-size: 4vh;"></i></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="project-card">
                        <div class="card my-5" style="width: 18rem;" *ngFor="let j of webApp">

                            <img src="{{j.imgUrl}}" class="card-img-top" alt="...">
                            <div class="card-body bg-white text-dark">
                                <h5 class="card-title">{{j.name}}</h5>
                                <p class="card-text">{{j.description}}</p>
                                <a href="{{j.projectUrl}}" class="btn btn-dark rounded-circle"><i class="ri-github-fill"
                                        style="font-size: 4vh;"></i></a>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                    <div class="card my-5" style="width: 18rem;" *ngFor="let k of pythonProject">
                        <img src="{{k.imgUrl}}" class="card-img-top" alt="...">
                        <div class="card-body bg-white text-dark">
                            <h5 class="card-title">{{k.name}}</h5>
                            <p class="card-text">{{k.description}}</p>
                            <a href="{{k.projectUrl}}" class="btn btn-dark rounded-circle"><i class="ri-github-fill"
                                    style="font-size: 4vh;"></i></a>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </div>






</div>







<!--  this section for our feed (Linkdin, Instagram and Blog - Apna Hindi Tech) -->

<!-- <div class="section-4 section-5">
    
     <div class="feeds">
        <h1 >My Feed</h1>
        <video src="assets/p6.mp4" preload="auto" autoplay=""  loop=""
            [muted]="'muted'" class="my-feed rounded-circle"></video>
     </div>


    <div class="ourTabs">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="linkdin-tab" data-bs-toggle="tab" data-bs-target="#linkdin"
                    type="button" role="tab" aria-controls="linkdin" aria-selected="true">Linkdin</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="instagram-tab" data-bs-toggle="tab" data-bs-target="#instagram"
                    type="button" role="tab" aria-controls="instagram" aria-selected="false">Youtube</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="blog-tab" data-bs-toggle="tab" data-bs-target="#blog" type="button"
                    role="tab" aria-controls="blog" aria-selected="false">Blog</button>
            </li>

        </ul>
    </div>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active " id="linkdin" role="tabpanel" aria-labelledby="linkdin-tab">


            <div class="project-card">

                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7107291263908921344" height="700"
                    width="600" frameborder="0" title="Embedded post"></iframe>

                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6898554710232592384" height="700"
                    width="600" frameborder="0" title="Embedded post"></iframe>



            </div>

        </div>

        <div class="tab-pane fade py-4" id="instagram" role="tabpanel" aria-labelledby="instagram-tab">

            <div class="project-card">
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/lVg0ZkoyriE?si=iIIZv3y3UNRXlLJR&amp;controls=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer;   encrypted-media;"
                    allowfullscreen></iframe>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/hneDbAM5zhg?si=BELEYkT4AIcAkY4g&amp;controls=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer;  encrypted-media;"
                    allowfullscreen></iframe>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/iOnQSwYNTA8?si=eCCloQkZHwGS5j5H&amp;controls=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer;  encrypted-media;"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="tab-pane fade py-4 show active" id="blog" role="tabpanel" aria-labelledby="blog-tab">

            <iframe src="https://apnahinditechno1.blogspot.com/" width="100%" height="790px" frameBorder="0"
                style="border-radius: 40px;"></iframe><br>Apna Hindi Tech by Sahil Kushwaha <a href=""
                target="_blank"></a>
        </div>

    </div>



</div> -->

<!--  this section for our feed (Linkdin, Instagram and Blog - Apna Hindi Tech)  END -->





<div class="section-4 section-5">
    <h1 class="text-center">My Happy Clients 😊</h1>

    <div class="project-card">
        <div class="card text-center " style="width: 18rem; height: 20rem;" *ngFor="let feedback of clients">
            <div class="card-body">
                <h3 class="card-title">{{feedback.name}}</h3>
                <p class="card-text" style="font-weight: bolder;">{{feedback.projectName}}.</p>
                <p class="card-text">{{feedback.feedback}}.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>


    </div>






</div>



<div class="section-undefine">


    <div id="follow-us">
        <div id="follow-us-part1">

            <div class="htitle ">
                <h1><span>--</span> Follow<span>--</span> Us <span>--</span></h1>
                <h1><span>--</span> Follow<span>--</span> Us <span>--</span></h1>
                <h1><span>--</span> Follow<span>--</span> Us <span>--</span></h1>
                <h1><span>--</span> Follow<span>--</span> Us <span>--</span></h1>
                <h1><span>--</span> Follow<span>--</span> Us <span>--</span></h1>
                <h1><span>--</span> Follow<span>--</span> Us <span>--</span></h1>
            </div>

        </div>

        <div id="follow-us-part2">
            <h3>SOCIAL MEDIA</h3>
            <hr>
            <div class="media-handles">
                <a href="https://www.linkedin.com/in/sahil-kushwaha-6340861a9/">
                    <div class="linkedin">
                        <h2>Linkedin</h2>
                        <i class="ri-arrow-right-up-line"></i>

                    </div>
                </a>
                <hr>

                <a href="https://github.com/sahil3754">
                    <div class="github">

                        <h2>GitHub</h2>
                        <i class="ri-arrow-right-up-line"></i>
                    </div>
                </a>
                <hr>
                <a href="https://www.instagram.com/sahil__kushwah002/?hl=en">
                    <div class="instagram">

                        <h2>Instagram</h2>
                        <i class="ri-arrow-right-up-line"></i>
                    </div>
                </a>
                <hr>

            </div>

        </div>

    </div>






</div>






<div id="fotter">

    <div class="fotter-bg">
        <video src="assets/fotter.mp4" preload="auto" autoplay="" loop="" [muted]="'muted'"></video>
        <div class="fotter-content">
            <h2>Have</h2>
            <h2>an idea?</h2>
            <a href="/contact"><button>Tell us</button></a>
        </div>
    </div>


</div>

<div class="end" style="background-color: black; width: 100vw; height: 58vw;">

</div>